<a href="https://colab.research.google.com/github/sierrakneifel/Projects/blob/main/IN502_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Measures of Center

# New Section

In [ ]:
import pandas as pd

df = pd.read_csv('mtcars.csv')# read in the file mtcars.csv

mean = df['wt'].mean()  # find the mean of the column wt
median = df['wt'].median()  # find the median of the column wt
mode = df['wt'].mode() # find the mode of the column wt

print("mean = {:.5f}, median = {:.3f}, mode = {}".format(mean, median, mode))

Data Frames

In [ ]:
import pandas as pd

cars_df = pd.read_csv("Cars.csv") # Import the CSV file Cars.csv

user_num = int(input())

subset = cars_df.head(user_num)

print(subset.max())

Subsetting Data Frames

In [ ]:
import pandas as pd

cylinders = int(input())

df = pd.read_csv('mtcars.csv') # read in the csv file mtcars.csv

#print(df[df.cyl == cylinders])

df_cyl = df[df.cyl == cylinders]  # create a new dataframe with only the rows where cyl = cylinders


print(df_cyl.shape) # ( print the shape of the new data frame)

In [ ]:
import pandas as pd # load the pandas module as pd

titanic = pd.read_csv('titanic.csv') # load titanic.csv

first_south = titanic[(titanic.pclass == 1) & (titanic.embark_town == 'Southampton')] # subset the titanic dataset to include first class passengers who embarked in Southampton

second_third = titanic[(titanic.pclass == 2) | (titanic.pclass == 3)]# subset the titanic dataset to include either second or third class passengers

print(first_south.head())
print(second_third.head())

In [ ]:
import pandas as pd

tgt = pd.read_csv('target.csv')

tgt_march = tgt[-19:]

tgt_vol = tgt_march[["Date", "Volume"]]

tgt_close = tgt_march[["Date", "Close"]]

day = int(input()) - 1


volume_row = tgt_vol.iloc[[day]] #subset the specific row of tgt_vol for the given day
volume = volume_row.iloc[0][1]

close_row = tgt_close.iloc[[day]] #subset the specific row of tgt_close for the given day
close = close_row.iloc[0][1]

date = tgt_march.iloc[[day]].iloc[0][0] #gets the date

print("The volume of TGT on " + str(date) + " is " + str(int(volume)) + ".")
print("The closing stock price of TGT on " + str(date) + " is $" + str(close) + ".")

In [ ]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')

df = titanic[(titanic.sex == 'male') & (titanic.pclass == 1) & (titanic.age > 18)] # subset titanic to include male passengers in first class over 18 years old

print(df.head())

Standard Deviation

In [ ]:
import pandas as pd
import scipy.stats as st # Also import the scipy.stats module.

NBA2019_df = pd.read_csv('NBA2019.csv')

# Input desired column. Ex: AGE, 2P%, or PointsPerGame.
chosen_column =  input()

# Create subset of NBA2019_df based on input.
NBA2019_df_column = NBA2019_df[chosen_column]

# Find standard deviation and round to two decimal places.
sample_s = st.tstd(NBA2019_df_column)
sample_s_rounded = round(sample_s, 2)

# Output
print('The standard deviation for', chosen_column, 'is:', sample_s_rounded)

Five-Number Summary

In [ ]:
import pandas as pd

df = pd.read_csv('internetusage.csv')

internet = df[["internet_usage"]] # subset the column internet_usage

five_num = internet.describe() # find the five number summary

print(five_num)

Indexing

In [ ]:
import pandas as pd

df = pd.read_csv('internetusage.csv')

population = df[['State', 'Population']]

state_index = int(input())

state_data = population.iloc[state_index]

state_name = state_data.iloc[0]

state_pop = state_data.iloc[1]

print("The population of " + str(state_name) + " is " + str(state_pop)+ ".")